body {
  background-color: #C1CFC0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #3F72AF;
  border-width: 9px;
  height: 0px;
  width: 4%;
}
h3 {
  color: #1FAB89;
}
h4 {
color: #1FAB89
}
h1 {
  color: #1FAB89
}
h2 {
  color: #1FAB89
}
